
.loginPage {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(storage/app/public/images/topimage.jpg);
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
      background-color: #fff;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
    }
  }
}
